*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:Poppins;
}

html{
scroll-behavior:smooth;
}

body{
background:#f7f3ef;
}

/*BANNAR/HERO */
.hero{
position:relative;
height:250px;   /* increase this */
overflow:hidden;
}

.slider{
display:flex;
}

.slide{
display:none;
align-items:center;
justify-content:space-between;
}

.slide.active{
display:flex;
}

.content{
max-width:500px;
}

.content h1{
font-size:48px;
color: white;
padding-left:200px;
padding-top: 25px;
}

.content p{
    color:#f2e6e6;
    padding-left: 200px;
}

.content span{
/* color:#ff2a7f; */
color: rgb(231, 134, 134);
}

.hero-video{
position:absolute;
top:0;
left:0;
width:100%;
height:200%;
object-fit:cover;
z-index:1;
}

.hero::after{
content:"";
position:absolute;
top:0;
left:0;
width:100%;
height:200%;
background:rgba(0,0,0,0.4);
z-index:1;
}

.slider,
.prev,
.next{
position:relative;
z-index:2;
}

.prev,.next{
position:absolute;
top:50%;
transform:translateY(-50%);
background:white;
border:none;
font-size:25px;
padding:10px 15px;
cursor:pointer;
border-radius:50%;
}

.prev{ left:20px; }
.next{ right:20px; }


/* NAVBAR */

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 60px;
background:white;
position:sticky;
top:0;
box-shadow:0 2px 10px rgba(0,0,0,0.7);
z-index:9999;   /* increase this */
}

.logo{
font-size:24px;
font-weight:bold;
color:#771a0f;
}

.logo a{
text-decoration:none;
color:#771a0f;
font-size:24px;
font-weight:bold;
}

nav a{
margin:0 15px;
text-decoration:none;
color:#333;
font-weight:500;
}

nav a:hover{
color:#771a0f;

}

/*NEW CODE*/

nav a:hover{
color:#771a0f;
font-weight:bold;
}

.icons{
position:relative;
}

#cart-count{
background:#771a0f;
color:white;
font-size:12px;
padding:3px 6px;
border-radius:50%;
position:absolute;
top:-10px;
right:-10px;
}

/*DROPDOWN MENU */

.dropdown{
position:relative;
display:inline-block;
}

.dropbtn{
cursor:pointer;
}

.dropdown-content{
display:none;
position:absolute;
background:white;
min-width:180px;
box-shadow:0 5px 15px rgba(0,0,0,0.2);
border-radius:10px;
top:100%;
left:0;
z-index:9999;
}

.dropdown-content a{
display:block;
padding:10px 15px;
text-decoration:none;
color:#333;
}

.dropdown-content a:hover{
background:#f2e6e6;
color:#771a0f;
}

.dropdown:hover .dropdown-content{
display:block;
}

/*CAKES */
.cakes{
padding:20px;
text-align:center;
}

.cakes h2{
font-size:36px;
display:flex;
justify-content:center;
position: relative;
bottom: 30px;
padding-top: 30px;
font-family:Georgia, 'Times New Roman', Times, serif;
color: rgb(79, 25, 25);
}

.cakes-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:30px;
margin-top:5px;
}

.cakes-card{
background:white;
padding:10px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
transition:0.3s;
}

.cakes-card:hover{
transform:scale(1.05);
}

.cakes-card img{
width:100%;
height: 250px;
border-radius:10px;
}

.cakes-card button{
margin-top:10px;
padding:10px 15px;
border:none;
background:#771a0f;
color:white;
border-radius:5px;
cursor:pointer;
}

/*PASTRIES */
.pastries{
padding:20px;
text-align:center;
}

.pastries h2{
font-size:36px;
display:flex;
justify-content:center;
position: relative;
bottom: 30px;
padding-top: 30px;
font-family:Georgia, 'Times New Roman', Times, serif;
color: rgb(79, 25, 25);
}

.pastries-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:30px;
margin-top:5px;
}

.pastries-card{
background:white;
padding:10px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
transition:0.3s;
}

.pastries-card:hover{
transform:scale(1.05);
}

.pastries-card img{
width:100%;
height: 250px;
border-radius:10px;
}

.pastries-card button{
margin-top:10px;
padding:10px 15px;
border:none;
background:#771a0f;
color:white;
border-radius:5px;
cursor:pointer;
}

/*BROWNIES */

.brownies{
padding:20px;
text-align:center;
}

.brownies h2{
font-size:36px;
display:flex;
justify-content:center;
position: relative;
bottom: 30px;
padding-top: 30px;
font-family:Georgia, 'Times New Roman', Times, serif;
color: rgb(79, 25, 25);
}

.brownies-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:30px;
margin-top:5px;
}

.brownies-card{
background:white;
padding:10px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
transition:0.3s;
}

.brownies-card:hover{
transform:scale(1.05);
}

.brownies-card img{
width:100%;
height: 250px;
border-radius:10px;
}

.brownies-card button{
margin-top:10px;
padding:10px 15px;
border:none;
background:#771a0f;
color:white;
border-radius:5px;
cursor:pointer;
}

/* COOKIES */

.cookies{
padding:20px;
text-align:center;
}

.cookies h2{
font-size:36px;
display:flex;
justify-content:center;
position: relative;
bottom: 30px;
padding-top: 30px;
font-family:Georgia, 'Times New Roman', Times, serif;
color: rgb(79, 25, 25);
}

.cookies-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:30px;
margin-top:5px;
}

.cookies-card{
background:white;
padding:10px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
transition:0.3s;
}

.cookies-card:hover{
transform:scale(1.05);
}

.cookies-card img{
width:100%;
height: 250px;
border-radius:10px;
}

.cookies-card button{
margin-top:10px;
padding:10px 15px;
border:none;
background:#771a0f;
color:white;
border-radius:5px;
cursor:pointer;
}

/* CROSAINT */

.croissant{
padding:20px;
text-align:center;
}

.croissant h2{
font-size:36px;
display:flex;
justify-content:center;
position: relative;
bottom: 30px;
padding-top: 30px;
font-family:Georgia, 'Times New Roman', Times, serif;
color: rgb(79, 25, 25);
}

.croissant-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:30px;
margin-top:5px;
}

.croissant-card{
background:white;
padding:10px;
border-radius:15px;
box-shadow:0 5px 20px rgba(0,0,0,0.1);
transition:0.3s;
}

.croissant-card:hover{
transform:scale(1.05);
}

.croissant-card img{
width:100%;
height: 250px;
border-radius:10px;
}

.croissant-card button{
margin-top:10px;
padding:10px 15px;
border:none;
background:#771a0f;
color:white;
border-radius:5px;
cursor:pointer;
}

/* FOOTER */

footer{
background:rgba(24, 5, 5, 0.954);
color:white;
padding:50px;
margin-top:40px;
}

.footer-container{
display:flex;
justify-content:space-around;
}

footer h3{
margin-bottom:10px;
font-size:30px;
font-style: italic;
}

footer p{
font-size:14px;
cursor:pointer;
}

.copyright{
text-align:center;
margin-top:20px;
font-size:13px;
}